*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    border-right: 1px solid#f1f5f5 ;
    width: 320px;
    padding-left: 60px;
    padding-right: 30px;
    padding-top: 10px;
    height: 100vh;
    position: fixed;
    background-color: #fff;
}
.logo{
    font-size: 26px;
    color: #1d9bf0;
    padding-left: 20px;
}
li{
    list-style: none;
    padding: 10px;
}
ul{
    margin-top: 10px;
    margin-bottom: 20px;
}
.fa-house, .fa-hashtag, .fa-bell, .fa-envelope, .fa-bookmark, .fa-list, .fa-user, .fa-ellipsis{
    padding-top: 4px;
    font-size: 18px;
    padding-left: 10px;
}
.left{
    text-decoration: none;
    display: flex;
    color: #414549;
}
li:hover{
    background-color: #e7e7e8;
    border-radius: 30px;
}
.left > h2{
    font-size: 17px;
    margin-left: 25px;
    padding-top: 1px;
}
.tweet{
    width: 100%;
    height: 50px;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    background-color: #1d9bf0;
    color: #fff;
    cursor: pointer;
}
.me{
    display: flex;
    margin-top: 90px;
    padding-left: 20px;
    gap:15px;
    padding: 10px;
}
.me:hover{
    background-color: #e7e7e8;
    border-radius: 30px;
}
.id{
    display: flex;
    color: #000;
    text-decoration: none;
    font-size: 14px;
}
.userid{
    color: #000;
    font-weight: bold;
}
.username{
    color: #737679;
}
.meh{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.daine{
    padding-left: 50px;
}
.center{
    border-right: 1px solid #f1f5f5;
    width: 580px;
    margin-left: 320px;
}
.load{
    color: #000;
    font-size: 10px;
    text-decoration: none;
}
.top{
    background-color:  rgb(255,255,255,0.5);
    backdrop-filter: blur(3px);
}
h1{
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}
.option{
    display: flex;
    justify-content: space-between;
    width: 579px;
}
.btn-1, .btn-2{
    height: 50px;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
}
.btn-1:hover, .btn-2:hover{
    background-color: #e7e7e8;
}
.btn-2{
    border-bottom: 2px solid #1d9bf0;
}
.fixed-one{
    border-bottom: 1px solid #f1f5f5;
    position:fixed;
    background-color: rgb(255,255,255,0.9);
}
.tweet-one{
    padding-top: 100px;
}
.tweeting-1{
    display: flex;
    padding: 10px;
}
.id-1{
    font-size: 15px;
}
.tweet-id-1{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
}
.tweet-text{
    padding-left: 20px;
}
.tweet-box{
    height: 50px;
    width: 550px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
}
.tweet-box-feature{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f1f5f5;
}
.box-feature{
    padding-left: 60px;
    padding-top: 10px;
}
.box-feature > .emoji{
    padding: 5px;
}
.emoji{
    color: #1d9bf0;
    text-decoration: none;
    height: 10px;
    width: 10px;
}
.emoji:hover{
    background-color: #c5e5fb;
    border-radius: 50%;
}
.button-box{
    padding-right: 20px;
    margin-bottom: 10px;
}
.btn-3{
    height: 35px;
    width: 80px;
    background-color: #1d9bf0;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.show-tweet{
    border-bottom: 1px solid #f1f5f5;
    text-align: center;
    height: 40px;
    padding-top: 6px;
    cursor: pointer;
}
.show-tweet:hover{
    background-color: #f7f7f7;
}
.show{
    color: #1d9bf0;
    font-size: 14px;
    text-decoration: none;
}
.info-id{
    padding: 10px;
}
.manu-id{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.feed-one{
    cursor: pointer;
    border-bottom: 1px solid #f1f5f5;
    padding-bottom: 15px;
}
.feed-one:hover{
    background-color: #f7f7f7;
}
.feed-info{
    display: flex;
}
.username-id, .name-id, .more-id-info{
    padding-top: 10px;
}
.username-id-1{
    color: #000;
    text-decoration: none;
}
.u-id-1{
    font-weight: bold;
    font-size: 15px;
}
.name-id-1{
    text-decoration: none;
    color: #737679;
    padding-left: 6px;
}
.date-one{
    font-size: 15px;
}
.id-1:hover{
    text-decoration: underline;
}
.more-id-info{
    padding-left: 130px;
    cursor: pointer;
}
.content-one{
    padding-left: 40px;
}
.god-tier{
    width: 500px;
    object-fit: cover;
    border-radius: 15px;
}
.name-id-1{
    display: flex;
}
.icons-one{
    display: flex;
    justify-content: space-evenly;
}
.icons-achieve{
    text-decoration: none;
    color: #000;
    font-size: 15px;
    display: flex;
}
.icons-achieve:hover:first-child{
    color: #1d9bf0;
}
.icons-achieve:hover:nth-child(2){
    color: #1fc28c;
}
.icons-achieve:hover:nth-child(3){
    color: #d8050e;
}
.icons-achieve:hover:nth-child(4){
    color: #1d9bf0;
}
.data{
    font-size: 11px;
    padding-left: 5px;
}
.social-achievement{
    padding-top: 10px;
}
.short-me{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.short-tweet-id{
    padding-top:6px;
    padding-left: 5px;
    display: flex;
}
.short-id{
    display: flex;
    padding-left: 10px;
    color: #000;
    text-decoration: none;
    gap: 6px;
}
.short-user-id{
    font-size: 15px;
    font-weight: bold;
}
.short-user-id-username, .date-time{
    color: #737679;
    font-size: 15px;
}
.short-user-id-username:hover{
    text-decoration: underline;
}
.ma-ho{
    padding-top: 10px;
    padding-left: 10px;
}
.short-more{
    cursor: pointer;
    padding-top: 2px;
}
.feed-two-first{
    display: flex;
}
.short-tweet-id{
    display: flex;
    gap:227px;
}
.feed-two{
    border-bottom: 1px solid #f1f5f5;
    cursor: pointer;
    padding-bottom: 10px;
}
.feed-two:hover{
    background-color: #f7f7f7;
}
.short-tweet-guff{
    padding-left: 15px;
    font-size: 15px;
}
.right-side{
    margin-left: 1000px;
    align-items: flex-start;
    top: 0;
    right: 0;
    position:absolute;
    z-index: 1;
}
.search{
    display: flex;
    background-color:#eff3f4;
    height: 40px;
    gap:10px;
    width: 350px;
    border-radius: 30px;
    margin-right: 45px;
    position: fixed;
    top: 0;
    right: 0;
}
.fa-magnifying-glass{
    padding-top: 13px;
    padding-left: 10px;
    font-size: 15px;
    cursor: pointer;
}
.search-items{
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
}
.trending{
    background-color: #f7f9f9;
    margin-top: 60px;
    margin-bottom: 15px;
    border-radius: 20px;
    margin-right: 45px;
    height: 1138px;
    width:350px;
}
.trend-one{
    font-size: 20px;
    font-weight: bold;
}
.trending-one{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.trending-one:hover{
    background-color: #eff1f1;
}
.trend-one-item{
    padding: 15px;
}
.trend-more{
    padding: 15px;
}
.sports, .no-of-tweets{
    color: #000;
    font-size: 13px;
}
.big-head{
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
.trend-one-item{
    text-decoration: none;
}
.show-more-one{
    font-size: 15px;
    color: #1d9bf0;
    padding-bottom: 10px;
    padding-left: 15px;
}
.trending-two:hover{
    background-color: #eff1f1;
    border-radius: 0px 0 20px 20px;
    cursor: pointer;
}
.mai{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.follow{
    background-color:#f7f9f9;
    margin-right: 45px;
    border-radius: 20px;
}

.who-to-follow{
    font-size: 20px;
    font-weight: bold;
}
.click{
    display: flex;
    padding-left: 10px;
    cursor: pointer;
    padding-top: 10px;
}
.click:hover{
    background-color: #eff1f1;
}
.ok{
    display: flex;
}
.edit{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.edit:hover{
    text-decoration: underline;
}
.naam{
    font-size: 15px;
}
.not-ok{
    padding-left: 13px;
}
.flw{
    padding-left: 90px;
    padding-top: 15px;
    cursor: pointer;
}
.follow-btn{
    height: 30px;
    width: 80px;
    border-radius: 20px;
    border: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.click-one:hover{
    border-radius: 0px 0 20px 20px;
    background-color: #eff1f1;
}
.click-one{
    display: flex;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
}